@model Tuple<IEnumerable<HubManPractices.Service.ViewModels.ClientViewModel>, IEnumerable<HubManPractices.Service.ViewModels.ClientViewModel>,Dictionary<string,int>>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ResellerIndex</title>
</head>
<body>

    
</body>
</html>


<script>
    $(document).ready(function () {

        //document.getElementById('nav').style.backgroundImage="url(@@Model.Item1.FirstOrDefault().reseller.ResellerImage.Replace("~","").ToString()";
       

        var Keys = @Html.Raw(Json.Encode(Model.Item3.Keys));
        var Values =@Html.Raw(Json.Encode(Model.Item3.Values));
        var ctx = document.getElementById("myChart");
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: Keys,
                datasets: [{
                    label: ' Number Of Clients',
                    data: Values,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            stepSize: 1
                        }
                    }]
                }
            }
        });

    });
   
</script>



@section scripts
{
    <script type="text/javascript" src="@Url.Content("/Scripts/Chart.js")"></script>
 
}