body {
}
@import 'https://fonts.googleapis.com/css?family=Lato|Montserrat';
*{
    margin: 0;
    padding: 0;
}
body{
    background: #cdeaf4;
}
.clientBodyRow > .clientBodyItem > form [data-color="upgrade"]{
   border:3px solid #0099ff;
   color: #0099ff;
}
.clientBodyRow > .clientBodyItem > form [data-color="suspend"]{
   border:3px solid #9b00cc;
   color: #9b00cc;
}

.clientBodyRow > .clientBodyItem > form [data-color="delete"]{
    color: #cd0001;
    font-size: 22px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
 [data-color="upgrade"]{
   border:3px solid #0099ff;
   color: #0099ff;
 }
 [data-color="suspend"]{
   border:3px solid #9b00cc;
   color: #9b00cc;
}

[data-color="delete"]{
    color: #cd0001;
    border: none;
    font-size: 22px;
}
/*************Nav Bar*************/
.nav{
    display: block;
    width: 100%;
    background-image: url("../images/zein-banner.jpg");
    height: 122px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
}
.navLeft{
    background: #0095c7;
    width: 80px;
    padding:50px 0px;
    float:left;
    border-right: 1px solid #fff;

}
.navLeft>a>img{
    width: 55px;
    height: 22px;
    display: block;
    margin: 0 auto;
    text-align: center;
}
.navRight{
     display: inline-block;
     margin: 0 auto;
     width: calc(100% - 81px);
}
.brand-logo{
     padding-left: 50px;
     float: left;
     width: calc(100% / 4 - 50px);
     margin: 30px auto;
}
.action{
    display: inline-block;
    width: calc(100% / 2 );
    text-align: center;
    margin-top: 15px;
}
.action > ul{
    list-style: none;
}
.action > ul > li > a{
    color: #fff;
    text-decoration: none;
    padding: 25px;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    transition-duration: .8s;
    position: relative;
    
}
.action > ul > li > a:hover{
    background-color:rgba(82,205,255,.7);
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.action > ul > li > a:hover i{
    background-color: rgba(229,229,229,0.3);
    color: #fff;
}
a.active:before {
    content: " ";
    position: absolute;
    z-index: -1;
    left: 0px;
    bottom: 0px;
    width: 106%;
    height: 3%;
    box-shadow: -11px 2px 0px #546165;
    transform: skew(75deg);
    right: 0;
}
.action > ul > li > a.active{
    background-color:rgba(82,205,255,.7);
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.action > ul > li > a.active i{
    background-color: rgba(229,229,229,0.3);
    color: #fff;
}
.action > ul > li {
    color: #fff;
    display: inline-block;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
.action > ul > li > a > i{
    display: flex;
    transition-duration: .5s;
    font-size: 25px;
    background-color: #fff;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 5px;
}
.action ul li:nth-child(1) i{
    color: #0095c7;
}
.action ul li:nth-child(2) i{
    color: #8cc83c;
}
.action ul li:nth-child(3) i{
    color: #eb6333;
}
.setting{
    width: calc(100% / 4 - 30px);
    color: #fff;
    float: right;
    margin-top: 10px;
}
.setting>p{
    display: inline-block;
    color: #fff;
    font-size: 14px;
    font-family: open-sans; /* Write it correctly later*/
}
.setting > a > i{
    color: #fff;
    padding: 5px;
}
.setting  a:last-child{
    color: #fff;
    padding: 0px 10px;
    font-size: 14px;
    text-decoration: none;
}
/*end navbar*/
/*************Clients*************/
.clientBanner{
    width: 80%;
    margin: 0 auto;
    padding: 50px 0px;
}
.clientBanner div:nth-child(1){
    font-size: 33px;
    font-family: 'Montserrat', sans-serif;
    color: #ff5f08;
    font-weight: 400;
    display: inline-block;
    text-transform: uppercase;
}
.clientBanner > .search{
    position: relative;
    display: inline-block;
    margin-left: 180px;
}
.clientBanner > .search > input{
    width: 450px;
    height: 40px;
    border-radius: 5px;
    outline: none;
    border: none;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    padding-left: 45px;
}
.fa-search{
    position: absolute;
    z-index: 0;
    left: 10px;
    top: 10px;
    color: #000;
    cursor: pointer;
    width: 0;
}
::-webkit-input-placeholder {
    color:#363636;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}

:-moz-placeholder { /* Firefox 18- */
    color:#363636;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}

::-moz-placeholder {  /* Firefox 19+ */
    color:#363636;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}

:-ms-input-placeholder {  
    color:#363636;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}
/************* Client List *************/
 .client{
    position: relative;
    width: calc(80% - 40px);
    background: #fff;
    height: auto;
    margin: 0 auto;
    padding: 0 20px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
}
.client #box{
    width: calc(100% - 40px);
    height: 100px;
    background: rgba(255,255,255,.2);
    z-index: -1;
    position: absolute;
    top: -15px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
    border-radius: 5px;
}
.client .clientDetails{
    display: block;
}
.clientDetails #clientitem{
    display: block;
    float: left;
    text-transform: uppercase;
    padding: 25px 0px;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    color: #131514;
}
.clientDetails #clientCount{
    display: block;
    padding: 25px 0px;
    float: right;
    font-size: 16px;
    font-family: sans-serif;
    color: #131514;
}
.clientBodyRow:nth-child(even){
  background: #fff;
}
.clientBodyRow:nth-child(odd){
  background: #e5f4f9;
}
.clientBodyRow:last-child {
    border-bottom: 1px solid #0095c7;
    border-radius: 0px !important;
}
.clientHeaderRow{
    border: 1px solid #b2dfee;
    border-radius: 5px;
    width: calc(100% - 0px);
    display: inline-block;
}
.wHash{
    width: calc(10% - 40px);
}
.wClient{
    width: calc(20% - 40px);
}
.wStatus{
    width: calc(15% - 40px);
}
.wContact{
    width: calc(23% - 40px);
}
.wExpiry{
    width: calc(15% - 40px);
}
.wAction{
    width: calc(17% - 40px);
}
 .clientHeaderRow > .clientHeaderItem {
  float: left;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  padding: 20px;
  font-size: 16px;
  background: #b2dfee;
  color: #e63c00;
  text-transform:uppercase;
  white-space: nowrap;
}
  .clientBody > .clientBodyRow {
  width: 100%;
  float: left;
  border-radius: 5px;
}

.clientBodyRow > .clientBodyItem {
  float: left;
  padding: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #666666;
}
.clientBodyItem:nth-child(1) {
    color: #131514;
}
.clientBodyItem:nth-child(5) {
    color: #131514;
}
.clientBodyItem form {
    display: inline-flex;
}

.clientBodyRow > .clientBodyItem > form >  button
{
    font-size: 11px;
    text-decoration: none;
    display: inline-block;
    margin: 4px;
    outline: none;
    cursor: pointer;
    width: 22px;
    height: 22px;
    background: transparent;
    border-radius: 50%;
}
.clientBodyRow > .clientBodyItem > form > .overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 1;
}
.overlay .popup{
    width: 800px;
    background: #fff;
    margin: 210px auto;
    border-radius: 5px;

}
.overlay .popupHeader{
    height: 80px;
    background: #0095c7;
    border-radius: 5px;
    position: relative;
    z-index: 1;
}
.fa-pencil{
    color: #fff;
    padding: 15px 20px;
    cursor: pointer;
}
.popupHeader > #popupTitle{
    display: inline-block;
    color: #fff;
    padding: 15px 0px;
}
.popupHeader > #popupExit{
 float: right;
 padding: 10px 20px;
 cursor: pointer;
}
#popupExit > .fa-times{
    color: #a20031;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.overlay .popupBody{
    min-height: 425px;
    border-radius: 5px;
    border: 1px solid #fff;
    position: relative;
    top: -30px;
    z-index: 2;
    background: #fff;
}
/*.clientBodyRow > .clientBodyItem > form:hover .overlay{
    opacity: 1;
    visibility: visible;
}*/



.client > .next{
    display: inline-block;
}
.next > ul {
    list-style: none;
}
.next > ul > li {
  padding: 15px 5px;
  font-weight: 600;
  display: inline-block;
}
.next > ul > li > a {
    text-decoration: none;
    padding: 5px;
   color: #000;
}
.next > ul > li > .page{
    background: #8cc83c;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #fff ;
}
.guid{
    float: right;
}
.guid > ul{
    list-style: none;
    display: inline-flex;
}
.guid > ul >li{
    display: inline-flex;
    font-size: 12px;
    justify-content: center;
    padding: 19px 8px;
    text-align: center;
    align-items: center;
}
.guid > ul > li >i{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}
/*end of client*/
/************* welcome*************/
#welcome{
    margin: 70px 140px;
    width: calc(100% - 280px);
}
.welcomeOverview{
    width: calc(100%/2 - 16px);
    background: #6dc7ce;
    display: inline-block;
    position: relative;
    height: 315px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
    }
.welcomeBody{
    width: 100%;
    height: 270px;
    background: #fff;
    position: absolute;
    border-radius: 5px;
}
.welcomeDetails{
    display: inline-flex;
    width: 100%;
}
.welcomeItem{
    width: calc(100% / 3 );
    text-align: center;
    margin: 37px 0px;
}
.welcomeItem:not(:last-child){
    border-right: 1px solid #0095c7;
}
.welcomeItem > i{
    font-size: 45px;
    color: #818181;
}
.itemName{
    color: #5e605f;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}
#clientNumber{
    margin: 10px 0px;
    font-size: 35px;
    color: #e63c00;
    font-family: 'Montserrat', sans-serif;
}
.welcomeName{
    color: #fff;
    background: #0095c7;
    display: inline-block;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    border-radius: 20px;
    padding: 5px 27.5px;
    margin: 20px 0px 0px 20px;
}
#empNumber{
    color: #0095c7;
    margin: 10px 0px;
    font-size: 35px;;
    font-family: 'Montserrat', sans-serif;
}
#quotaNumber{
    color: #8cc83c;
    margin: 10px 0px;
    font-size: 35px;;
    font-family: 'Montserrat', sans-serif;
}
.viewClient{
    position: absolute;
    width: 220px;
    height: 50px;
    color: #000;
    bottom: 15px;
    z-index: 9999;
    background: #f5f5f5;
    border-radius: 50px;
    left: 15px;
}
.viewClient > img{
    height: 50px;
    float: left;
}
.viewClient > div>a{
    display: inline-block;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    padding: 14px 5px;
    text-decoration: none;
    color: #000;
}
div > a > .fa-arrow-circle-right{
    font-size: 16px;
    color: #ca2130;
}
.addClient{
    position: absolute;
    width: 220px;
    height: 50px;
    color: #000;
    bottom: 15px;
    z-index: 9999;
    background: #f5f5f5;
    border-radius: 50px;
    right: 15px;
}
.addClient > img{
    height: 50px;
    float: left;
}
.addClient > div>a{
    display: inline-block;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    padding: 14px 5px;
    text-decoration: none;
    color: #000;
}
.welcomeStatistic{
    width: calc(100%/2 - 13px);
    background: #6dc7ce;
    display: inline-block;
    position: relative;
    height: 315px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
    margin-left: 25px;
}
.statisticBody{
    width: 100%;
    height: 270px;
    background: #fff;
    border-radius: 5px;
}
.statisticName{
    color: #fff;
    background: #6dc7ce;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    border-radius: 20px;
    padding: 5px 27.5px;
    margin: 20px 0px 0px 20px;
    float: left;
}
.statisticDetails{
    position: absolute;
    display: inline-block;
    bottom: 14px;
    font-size: 14px;
    left: 20px;
    font-family: 'Lato', sans-serif;
}
.statisticDetails >i
{
    font-size: 16px;
    color: #ca2130;
    padding-left: 5px;
}
#chart {
  display: block;
  width: 100%;
  margin: auto;
}
#chart #numbers {
  width: 50px;
  height: 100%;
  margin: 0;
  padding: 0;
  float: left;
}
#chart #numbers li {
  text-align: right;
  padding-right: 1em;
  list-style: none;
  height: 29px;
  border-bottom: 1px solid #444;
  position: relative;
  bottom: 30px;
}
#chart #numbers li:last-child {
  height: 30px;
}
#chart #numbers li span {
  color: #eee;
  position: absolute;
  bottom: 0;
  right: 10px;
}
#chart #bars {
  display: block;
  margin: auto;
  width: 100%;
  position: absolute;
}
#chart #bars li {
  display: inline-block;
  width: calc(100% / 5 - 54px);
  height: 98px;
  text-align: center;
  position: relative;
  margin: 0px 25px;
  bottom: 60px;
}
#chart #bars li .bar {
  display: block;
  width: 49px;
  background: #49E;
  position: absolute;
  bottom: 75px;
  max-height: 150px;
}
#chart #bars li .bar:hover {
  background: #5AE;
  cursor: pointer;
}
#chart #bars li .bar:hover:before {
  color: white;
  content: attr(data-percentage) '%';
  position: relative;
  bottom: 20px;
}
#chart #bars li span {
  color: #000;
  position: absolute;
  bottom: 3em;
  left: 0;
  width: 100%;
  text-align: center;
}

.recentClients{
    margin-top: 105px;
}
.recentName{
    font-size: 24px;
    font-weight: 600;
    color: #f57d32;
    font-family: 'Lato', sans-serif;
    display: inline-block;
}
.viewAll {
    display: inline-block;
}
.viewAll > a{
    font-size: 14px;
    color: #000;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    text-decoration: none;
    padding-left: 30px;
}
.viewAll > a > i{
    color: #e63c00;
    padding-left: 5px;
}
#recentContainer{
    width: 100%;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flex;
    display: -o-inline-flex;
    display: inline-flex;
}
.recentDetails{
    width: 36.4%;
    height: auto;
    background: #fff;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
    display: inline-flex;
    margin: 35px 5px;
}
.clientRight {
    width: 27%;
    float: right;
}
.clientEmp{
    background: #52c0d5;
    height: 50%;
    border-top-right-radius: 5px;
}
.clientLic{
    background: #59bdff;
    height: 50%;
    border-bottom-right-radius: 5px;
}
.clientLic>div{
    width: 80%;
    margin: auto;
    border-top: 1px solid #fff;
}
.empNumber{
    text-align: center;
    font-size: 29px;
    color: #fff;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    padding-top: 15px;
}
.empName{
    text-align: center;
    font-size: 11px;
    color: #fff;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    margin-bottom: 24px;
}
.clientLeft{
    float: left;
    width: calc(80% - 50px);
    margin: 25px 15px;
}
.clientLeft>div>a {
    text-decoration: none;
    font-size: 18px;
    color: #272727;
    font-family: 'Lato', sans-serif;
}
.clientLeft i.fa.fa-arrow-circle-right {
    font-size: 20px;
    padding-left: 10px;
}
.clientLoc{
    color: #e63c00;
    padding: 15px 0px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

.clientLoc > i{
    padding-right: 10px;
}
.clientDate {
    color: #000;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
}
.clientDate>span{
    color: #e63c00;
}
#main{
  height: 400px;
}
@media (max-width: 768px){

.client> .clientHeader {
    width: 150px;
    margin-right: 1px;
    margin-top: 0px;
    float: left;
    margin-left: 25px;
    -webkit-box-shadow: 10px 0px 28px -5px rgba(48,51,59,1);
    -moz-box-shadow: 10px 0px 28px -5px rgba(48,51,59,1);
    box-shadow: 10px 0px 28px -5px rgba(48,51,59,1);
}

 .clientHeader .clientHeaderItem{
    float: none;
    padding: 20px 15px;
    width: calc(100% - 34px);
    border: 2px solid #0C374D;
    border-bottom:none;
    text-align: center;
}
.clientHeader  .clientHeaderItem:last-child{
        border-bottom: 2px solid #0C374D;
  }
  .clientBody{
        overflow-x: scroll;
        display: flex;
  }
.clientBody > .clientBodyRow {
    width: 100%;
    text-align: center;
    float: left;

}
.clientBodyRow > .clientBodyItem {
    width: auto;
    float: none;
    padding: 21px 15px;
    line-height: 18px;
}
} 
/************* *************/


/************* *************/